<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
			
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
									 type="SitecoreMVCSections.SitecoreMVCSectionPipeline, SitecoreMVCSections" />
       
			</httpRequestBegin>
      
    </pipelines>
  </sitecore>
</configuration>
